**/worker/solutions/*
**/worker/alg/*
**/worker/ctf/*
/worker/inout/*
/public/include/resources/*
/public/img/articles/header/*
/public/img/problemsets/header/*
/public/img/plugins/*
/include/plugins/*
*.pyc
misc_shell_script.sh