# `mysql` container
MYSQL_ROOT_PASSWORD=esit_db_root
MYSQL_DATABASE=esit_db
MYSQL_USER=esit_db
MYSQL_PASSWORD=esit_db

# `rabbitmq` container
RABBITMQ_DEFAULT_USER=esit_user
RABBITMQ_DEFAULT_PASS=123456
RABBITMQ_MANAGEMENT.LOAD_DEFINITIONS=/etc/rabbitmq/rabbitmq-definitions.json